<!DOCTYPE html>
<html>
<head>
    <title>Curreny Converter</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 5px;
        }
    </style>
</head>
<body>

    <h1>Currency Converter</h1>

    <table>
        <tr>
            <th>{{ data.currency }}</th>
            <th>{{ data.convertedCurrency }}</th>
        </tr>
        <tr>
            <td>{{ data.amount }}</td>
            <td>{{ data.converted }}</td>
        </tr>
    </table>

</body>
</html>